<!-- Messages JavaScript -->
<script type="text/javascript">
$(function() {
  const debounceFst = Object.assign(HelperToolsClass.debounceFirst);

  async function getAllMessages() {
    const msgsJson = await fetch(
      '/api/v1/listmessages',
      {
        method: "GET", // *GET, POST, PUT, DELETE, etc.
        mode: "same-origin", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, same-origin, *omit
      }
    ).then(
      response => response.json()
    );

    let msgsBox = document.querySelector('#msgs_box');
    msgsBox.innerHTML = '';
    msgsJson.forEach(function(msg) {
      console.log(msg);
      msgsBox.innerHTML += `
        <div class="row">
          <div class="col-sm-3 col-lg-2 text-right">
            <span>${msg.User.first_name} ${msg.User.last_name}: </span>
          </div>
          <div class="col-sm-9 col-lg-10">
          <div class="alert alert-secondary" role="alert">${msg.content}</div>
          </div>
        </div>`;
    });
  }

  var getAllMsgs = debounceFst(getAllMessages, 1000);
  document
    .querySelector('#get_all_messages')
    .addEventListener('click', getAllMsgs);
});
</script>