<!-- Messages JavaScript -->
<script type="text/javascript">
$(function() {
  const escapeTags = Object.assign(HelperToolsClass.escapeTags);
  const btnDebounce = Object.assign(HelperToolsClass.btnDebounce);
  const isNumberKey = Object.assign(HelperToolsClass.isNumberKey);

  // -------------- Events delegation -------------
  class InputBox {

    constructor(elem) {
      this._elem = elem;
      elem.onclick = this.onClick.bind(this); // (*)
    }

    getMessages() {
      getMessagesAjax();
    }

    postMessage() {
      postOneMessageAjax();
    }

    onClick(event) {
      let action = event.target.dataset.action;
      if (action) {
        btnDebounce(event.target);
        this[action]();
      }
    }
  }
  new InputBox(input_box);

  // should take integer input only
  if (document.querySelector('#getMessageById')) {
    document.querySelector('#getMessageById').addEventListener('keypress', isNumberKey);
  }

  // ------------------ Functions -----------------
  async function getMessagesAjax() {
    let oneMsgId = '';
    if (+document.querySelector('#getMessageById').value) {
      oneMsgId = '/' + +document.querySelector('#getMessageById').value;
    }
    const res = await fetch(
      `/api/v1/messages${oneMsgId}`,
      {
        method: "GET"
      }
    ).then(response => response.json());

    if (res && res.meta && res.meta.result) {
      displayMessages(res.data);
    } else {
      alert(`Error ${res.code} : ${res.msg}`);
    }
  };
  getMessagesAjax(); // run once for page load

  function displayMessages(dataObj) {
    let userId = -1;
    if (typeof(Storage) !== "undefined" &&
        window.sessionStorage.getItem('restapi_user_id')) {
      userId = window.sessionStorage.getItem('restapi_user_id');
    }
    let msgsBox = document.querySelector('#msgs_box');
    msgsBox.innerHTML = '';
    dataObj.forEach(function(msg) {
      // highlight your own msg
      let styleType = msg.user_id == userId ? 'info' : 'secondary';
      let isPal = msg.palindrome != null ?
        msg.palindrome == true ? ' / <span>isPal: Yes</span>' : ' / <span>isPal: No</span>' : '';
      msgsBox.innerHTML += `
        <div class="row">
          <div class="col-sm-3 col-lg-2 text-right">
            <span>${msg.User.first_name} ${msg.User.last_name}</span><br>
            <span>MID: ${msg.id}</span>${isPal}
          </div>
          <div class="col-sm-9 col-lg-10">
            <div class="alert alert-${styleType} msgs" role="alert">${escapeTags(msg.content)}</div>
          </div>
        </div>`;
    });

    // scroll to last msg
    const l = document.querySelectorAll(".msgs").length;
    if (l) {
      document.querySelectorAll(".msgs")[l-1].scrollIntoView();
    }
  }

  async function postOneMessageAjax() {
    let msginput = document.querySelector('#message_input') &&
      document.querySelector('#message_input').value;

    if (!msginput) {
      alert('Empty message or message not valid');
    } else {
      const res = await fetch(
        '/api/v1/message',
        {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            "data": {
              "message": msginput
            }
          })
        }
      ).then(response => response.json());

      if (res && res.meta && res.meta.result) {
        getMessagesAjax();
      } else {
        alert(`Error ${res.meta.code} : ${res.meta.msg}`);
      }
    }
  }
});
</script>