<div class="container user-msgs-container">
  <div class="row">
    <div class="msgs-box w-100" id="msgs_box">
    </div>
  </div>
  <hr>
  <div class="row" id="input_box">
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-primary" data-action="getMessages">Get Messages</button>
    </div>
    <div class="col-md-9">
      <% if (user) { %>
      <div class="row">
        <div class="col-md-10">
          <textarea class="form-control" placeholder="Your messages here..." rows="2" id="message_input"></textarea>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-success pull-right" data-action="postMessage">Post Now</button>
        </div>
      </div>
      <% } else { %>
      <span class="pull-right">
        <a href="/login">Please login to post a message</a>
      </span>
      <% } %>
    </div>
  </div>
  <hr>
</div>