<!doctype html>
<html lang="en">
  <head>
    <title>RestAPI</title>
    <%- include('./header/main-header.ejs') %>

    <style></style>
  </head>

  <body>
    <%- include('./body_html/top-navbar.ejs', {user: user}); %>

    <h1>Hello, world!</h1>

    <%- include('./body_js/main-js.ejs') %>
  </body>
</html>
